<template>
    <div class="urmom">
        <div class="content has-text-centered quiz-footer">
            <p class="text">
                <b>Copyright © 2019</b> <a href="/" class="color-blue">stack.markmarolf.com</a> All Rights Reserved.
                <br />
                <router-link to="/privacy" class="color-blue">Datenschutzbestimmungen</router-link>
                ·
                <router-link to="/imprint" class="color-blue">Impressum</router-link> · <b>Version 1.1.3 </b> <br />
                <a href="https://gitlab.com/government-quiz/vue-quiz" target="blank" rel="noopener" class="color-blue"
                    >Quellcode <i class="fa fa-external-link" aria-hidden="true"></i
                ></a>
                ·
                <router-link to="/license" class="color-blue">Lizenzierung </router-link>
            </p>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    name: 'Footer',
    components: {},
})
export default class Footer extends Vue {}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.urmom {
    background-image: url('../../../public/img/meta/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.color-blue {
    color: rgb(62, 71, 141);
}

.color-blue:hover {
    text-decoration: underline;
}

.quiz-footer {
    font-size: 14px;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.image {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0px;
}
.text {
    margin-bottom: 30px;
}
</style>
