<template>
    <nav class="navbar is-fixed-top" :class="isScrolled()" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <router-link class="navbar-item" to="/">
                    <img src="@/../public/img/text_logo.png" alt="Logo" />
                </router-link>
                <a
                    role="button"
                    class="navbar-burger burger"
                    :class="{ 'is-active': isActive }"
                    aria-label="menu"
                    aria-expanded="false"
                    id="navBarBurger"
                    v-on:click="toggleNav()"
                    data-target="mainNavBar"
                >
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="mainNavBar" class="navbar-menu" @click="hideMenu()" :class="{ 'is-active': isActive }">
                <div class="navbar-end">
                    <router-link class="navbar-item" to="/stack">
                        Tindär
                    </router-link>
                    <router-link class="navbar-item" to="/governments">
                        Staatsformen
                    </router-link>
                </div>
            </div>
        </div>
    </nav>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';

@Component({
    name: 'Navbar',
    components: {},
})
export default class Navbar extends Vue {
    protected isActive: boolean = false;
    private scrollPosition: number = 0;

    @Watch('$route', { immediate: true, deep: true })
    onRouteChange(newVal: any) {
        this.$forceUpdate();

        if (this.$router.currentRoute.path !== '/') {
            window.removeEventListener('scroll', this.handleScroll);
        } else {
            window.addEventListener('scroll', this.handleScroll);
        }
    }

    private isScrolled() {
        if (this.$router.currentRoute.path === '/' && this.scrollPosition < 65) {
            return 'is-transparent';
        } else {
            return 'is-scrolled';
        }
    }

    private created() {
        window.addEventListener('scroll', this.handleScroll);
    }

    private handleScroll(event: Event) {
        this.scrollPosition = window.scrollY;
    }

    private toggleNav() {
        this.isActive = !this.isActive;
    }

    private hideMenu() {
        setTimeout(() => {
            this.isActive = false;
        }, 100);
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.navbar {
    box-shadow: 0px 0px 7px -4px rgba(0, 0, 0, 0.75) !important;
    background-color: #fff !important;
}
.navbar-item {
    font-weight: 600;
    color: rgb(29, 29, 29);
}
.navbar-link:hover,
a.navbar-item:hover {
    color: rgb(29, 29, 29);
    background-color: #dddddd;
}
.stack {
    font-weight: 600;
}
.is-transparent {
    background-color: transparent !important;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
}
.is-scrolled {
    box-shadow: 0px 0px 7px -4px rgba(0, 0, 0, 0.75) !important;
}
</style>
