<template>
    <section class="hero is-fullheight">
        <!-- <div > -->
        <div class="hero-body">
            <div class="container" style="margin-top: 15px;">
                <router-link to="/governments" tag="a" class="action-bar" @click="goBack()"
                    ><i class="fa fa-chevron-left back-icon" aria-hidden="true"></i
                    ><span class="back-link-text">Zurück</span>
                </router-link>

                <div class="section-title-wrapper has-text-centered">
                    <div class="clean-bg-symbol"><i class="fa fa-gg"></i></div>
                    <h2 class="clean-title ">{{ government.title }}</h2>
                    <div class="subtitle">
                        {{ government.subtitle }}
                    </div>
                </div>

                <div class="columns is-vcentered ">
                    <div class="column is-4">
                        <img
                            :src="require('../../../public/img/governments/' + government.img)"
                            :title="government.title"
                            :alt="government.title"
                        />
                    </div>
                    <div class="column government-description">
                        {{ government.description }}
                    </div>
                </div>
                <br />
                <div v-for="property in government.properties" v-bind:key="property.id" class="property-wrapper">
                    <div>
                        <span class="property-label" style="float: right;">{{ property.right_title }}</span>
                        <span class="property-label" style="float: left;">{{ property.left_title }}</span>
                    </div>
                    <b-field>
                        <b-progress type="is-blue" show-value :max="10" :value="getValue(property)"></b-progress>
                    </b-field>
                    <div class="property-description">
                        <span>{{ property.description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter } from 'vuex-class';
import { Government } from '@/models/government';
import { System } from '@/models/system';
import { Property } from '@/models/property';

@Component({
    name: 'GovernmentsCards',
    components: {},
})
export default class GovernmentsCards extends Vue {
    @Getter('system/systems') private systems!: System[];
    private government: Government | undefined = {} as Government;
    private governments: Government[] = [];
    private isDone: boolean = false;

    private mounted() {
        // set all governments in an array for simplicity
        this.systems.forEach((system) => {
            system.governments.forEach((government) => {
                this.governments.push(government);
            });
        });

        setTimeout(() => {
            this.isDone = true;
        }, 10);

        this.government = this.governments.find((obj: Government) => {
            return obj.id.toString() === this.$route.params.id;
        });
    }

    private getValue(property: Property): number {
        if (this.isDone === true) {
            return property.value;
        } else {
            return 0;
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.action-bar {
    color: rgb(32, 33, 48);
}
.back-icon {
    padding-right: 15px;
}
.government-title {
    color: rgb(32, 33, 48);
}
.property-wrapper {
    margin-bottom: 50px;
}
.government-description {
    font-size: 18px;
}
.property-label {
    font-size: 18px;
    font-weight: 600;
    color: rgb(108, 109, 129);
}
.back-link-text:hover {
    text-decoration: underline;
}
.section-title-wrapper {
    margin-top: 10px;
    margin-bottom: 30px;
}
.property-description {
    padding-top: 10px;
    font-size: 18px;
}
</style>
