<template
    ><div>
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <div class="section-title-wrapper has-text-centered">
                        <div class="clean-bg-symbol"><i class="fa fa-gg"></i></div>
                        <h2 class="clean-title" style="padding-top: 20px;">Staatsformen</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="hero is-small">
            <div class="hero-body">
                <div class="container">
                    <div class="system-wrapper has-text-centered" v-for="system in systems" v-bind:key="system.id">
                        <div class="system-title">
                            {{ system.name }}
                        </div>
                        <div class="columns is-multiline is-8">
                            <div
                                class="column
                                is-three-fourths-mobile
                                is-half-tablet
                                is-one-third-desktop
                                is-one-third-widescreen
                                is-one-third-fullhd
                                government-wrapper"
                                v-for="government in system.governments"
                                v-bind:key="government.id"
                                @click="showDetails(government)"
                            >
                                <img
                                    class="government-image"
                                    :alt="government.title"
                                    :title="government.title"
                                    :src="require('../../../public/img/governments/' + government.img)"
                                />

                                <div class="government-title">
                                    {{ government.title }}
                                </div>

                                <div class="government-description">
                                    {{ government.subtitle }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <government-modal
                        v-if="isGovernmentModalActive"
                        @toggleGovernmentModal="toggleGovernmentModal"
                        :government="selectedGovernment"
                    />
                </div>
            </div>
        </section>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter } from 'vuex-class';
import { System } from '@/models/system';
import { Government } from '@/models/government';
import GovernmentModal from '@/components/government/GovernmentModal.vue';

@Component({
    name: 'GovernmentsCards',
    components: {
        GovernmentModal,
    },
})
export default class GovernmentsCards extends Vue {
    @Getter('system/systems') private systems!: System[];
    private isGovernmentModalActive: boolean = false;

    private showDetails(government: Government) {
        this.$router.push('/government/' + government.id);
    }

    private toggleGovernmentModal() {
        this.isGovernmentModalActive = !this.isGovernmentModalActive;
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.system-wrapper {
    border-radius: 20px;
    box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.75);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    margin-bottom: 60px;
    background-color: rgb(253, 253, 253);
}

.system-divider {
    margin: 8px 0;
    width: 120px;
    height: 2px;
    background-color: rgb(95, 119, 163);
}

.system-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.government-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;
    cursor: pointer;
}

.government-title {
    font-size: 20px;
    font-weight: 400;
    color: rgb(23, 23, 31);
}
.government-title:hover {
    text-decoration: underline;
}
.government-description {
    font-size: 18px;
    font-weight: 300;
    color: rgb(60, 60, 88);
}
</style>
