<template>
    <b-modal :active="true" has-modal-card :on-cancel="toggleGovernmentModal">
        <div class="modal-card">
            <section class="modal-card-body">
                <p class="government-subtitle">{{ government.subtitle }}</p>
                <p class="government-title">{{ government.title }}</p>
                <br />
                <p class="government-description">{{ government.description }}</p>
            </section>
        </div>
    </b-modal>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter } from 'vuex-class';
import { Government } from '@/models/government';

@Component({
    name: 'GovernmentModal',
    components: {},
})
export default class GovernmentModal extends Vue {
    @Prop() private government: Government;

    private toggleGovernmentModal() {
        this.$emit('toggleGovernmentModal');
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.modal-card-body {
    border-radius: 15px;
    min-height: 300px;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
}
.government-title {
    font-size: 24px;
}
.government-subtitle {
    font-size: 15px;
    color: rgb(53, 88, 163);
}
.government-description {
    font-size: 16px;
}
</style>
