<template>
    <div>
        <section class="hero is-small main-hero">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered gapless" style="margin-top: 65px;">
                        <div class="column is-5">
                            <p class="title">Lerne Staatsformen kennen!</p>
                            <div class="title-divider"></div>
                            <br />
                            <div style="font-size: 18px;">
                                Stack bringt dir
                                <router-link to="/governments" tag="a" class="government-link" style="color: #344C5C;"
                                    >Staatsformen</router-link
                                >
                                zuhause, in der Schule oder bei der Arbeit auf spielerische Art bei.
                            </div>
                            <br />
                            <router-link to="/stack" tag="a">
                                <b-button icon-left="gamepad" icon-pack="fa" type="is-royal">Spielen!</b-button>
                            </router-link>
                        </div>
                        <div class="column is-offset-1 is-6">
                            <img src="../../public/img/home/teaching.svg" alt="online_test" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- wave element -->
        <section class="top-wave"></section>

        <section class="hero is-small">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column  is-5">
                            <img src="../../public/img/home/preferences.svg" alt="preferences" />
                        </div>
                        <div class="column is-offset-1 is-6 no-margin">
                            <h1 class="title">
                                Was macht Stack?
                            </h1>
                            <div class="title-divider"></div>
                            <p>
                                Theokratie, absolute oder konstitutionelle Monarchie? Oder eine Anarchie,
                                Militärdiktatur oder indirekte Demokratie?
                                <br /><br />
                                Sollten dir diese Wörter kein Begriff sein, dann ist Stack garantiert etwas für dich.
                                Habe Spass beim Lernen und erweitere dein Wissen über politische Systeme. Dabei kannst
                                du dein bestehendes Wissen mit einem interessanten Quiz testen und dich herausfordern.
                            </p>
                            <br />
                            <router-link to="/governments" tag="a">
                                <b-button icon-right="hand-o-right" outlined type="is-navy"
                                    >Zu den Staatsformen!</b-button
                                >
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="top-feature"></section>
        <section class="hero is-medium" style="background-color: #D3D7EA">
            <div class="container has-text-centered">
                <h1 class="title">So funktioniert Stack</h1>
                <br />
                <div class="columns is-vcentered">
                    <div class="column feature-item">
                        <img
                            src="../../public/img/home/features/hire.svg"
                            class="feature-image"
                            alt="Links und rechts wischen"
                            title="Links und rechts wischen"
                        />
                        <span class="feature-desc"
                            >Swipe im <router-link to="/stack" tag="a" class="feature-link">Quiz</router-link> nach
                            links und rechts.</span
                        >
                    </div>
                    <div class="column feature-item">
                        <img
                            src="../../public/img/home/features/confirm.svg"
                            class="feature-image"
                            alt="Resultate auswerten"
                            title="Resultate auswerten"
                        />
                        <span class="feature-desc">Schaue dir deine Resultate an.</span>
                    </div>
                    <div class="column feature-item">
                        <img
                            src="../../public/img/home/features/percentages.svg"
                            class="feature-image"
                            alt="Wissen erweitern"
                            title="Wissen erweitern"
                        />
                        <span class="feature-desc"
                            >Erfahre mehr über
                            <router-link to="/governments" class="feature-link" tag="a">Staatsformen</router-link
                            >!</span
                        >
                    </div>
                </div>
                <br />
            </div>
        </section>
        <section class="bottom-feature"></section>
        <section class="hero is-small">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column  is-5 no-margin">
                            <h1 class="title">
                                Wieso Stack?
                            </h1>
                            <div class="title-divider"></div>
                            <p>
                                Das Internet bietet eine Vielfalt an Quizzen an. Vor den Wahlen gibt es immer wieder
                                Webseiten, um deine politischen Präferenzen herauszufinden. Es gibt jedoch keine über
                                Staatsformen.<br /><br />
                                Wir glauben, dass die Staatsformen für viele Neuland sind, weshalb wir mit Stack eine
                                Bildungschance für Staatsform-Laien sehen. Doch auch diejenigen, die in diesem
                                Themenbereich bereits gut bewandert sind, werden garantiert Neues herausfinden.
                            </p>
                        </div>
                        <div class="column is-5 is-offset-2">
                            <img src="../../public/img/home/quiz.svg" alt="devices" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    name: 'Home',
    components: {},
})
export default class Home extends Vue {}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.main-hero {
    background-color: #ffd552;
}
.top-wave {
    background-image: url('../../public/img/meta/top.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 22vh;
}
.government-link {
    text-decoration: underline;
}
.top-feature {
    background-image: url('../../public/img/meta/bottom_feature.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
}

.bottom-feature {
    background-image: url('../../public/img/meta/top_feature.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
}
.feature-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature-image {
    max-width: 70%;
}
.feature-desc {
    margin-top: 20px;
    color: rgb(22, 23, 39);
    font-weight: 300;
    font-size: 18px;
}
.feature-link {
    text-decoration: underline;
    color: rgb(24, 25, 43);
}
</style>
