<template>
    <div>
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <div class="section-title-wrapper has-text-centered">
                        <div class="clean-bg-symbol"><i class="fa fa-gg"></i></div>
                        <h2 class="clean-title" style="padding-top: 20px;">Impressum</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="hero is-small">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-5 no-margin">
                            <img src="../../../public/img/meta/team.svg" alt="online test" />
                        </div>
                        <div class="column is-5 is-offset-2 no-margin">
                            <h1 class="title">
                                Team
                            </h1>
                            <div class="title-divider"></div>
                            <p>
                                Wir sind ein vierköpfiges Team aus der Klasse G17b von der Kantonsschule Baden. Unser
                                Team hat im Rahmen des Projektunterrichts diese Webseite erstellt. <br />
                                <br />
                                Da unsere Gruppe sich für Politik interessiert, wollten wir unsere Vorlieben in ein
                                Produkt bündeln und haben deshalb diese Webseite programmiert.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="hero is-medium">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-5 no-margin">
                            <h1 class="title">
                                Dependencies and licensing
                            </h1>
                            <div class="title-divider"></div>
                            <br />
                            <p class="subtitle">
                                CSS Frameworks
                            </p>

                            <div>
                                CSS Framework: Bulma
                                <a href="https://bulma.io/" target="_blank"> https://bulma.io/</a> MIT License
                            </div>
                            <br />
                            <div>
                                Buefy component CSS framework: Buefy
                                <a href="https://buefy.org/documentation" target="_blank">
                                    https://buefy.org/documentation</a
                                >
                                MIT License
                            </div>
                            <br />
                            <p class="subtitle">
                                npm packages
                            </p>

                            <div>
                                JS Framework Vue.js
                                <a href="https://vuejs.org/" target="_blank"> https://vuejs.org/</a> MIT License
                            </div>
                            <br />
                            <div>
                                Drag and Drop: interact.js
                                <a href="https://interactjs.io/" target="_blank"> https://interactjs.io/</a> MIT License
                            </div>
                            <br />
                            <div>
                                PWA enablement: register-service-worker
                                <a href="https://www.npmjs.com/package/register-service-worker" target="_blank">
                                    https://www.npmjs.com/package/register-service-worker
                                </a>
                                MIT License
                            </div>
                            <br />
                            <div>
                                Cookies and persisted Vuex: vuex-persistedstate
                                <a href="https://www.npmjs.com/package/vuex-persistedstate" target="_blank">
                                    https://www.npmjs.com/package/vuex-persistedstate
                                </a>
                                MIT License
                            </div>
                            <br />
                            <div>
                                SEO Prerendering: prerender-spa-plugin
                                <a href="https://github.com/chrisvfritz/prerender-spa-plugin" target="_blank">
                                    https://github.com/chrisvfritz/prerender-spa-plugin</a
                                >
                                MIT License
                            </div>
                            <br />
                            <div>
                                SEO Prerendering SSR: @prerenderer/renderer-jsdom
                                <a href="https://www.npmjs.com/package/@prerenderer/renderer-jsdom" target="_blank">
                                    https://www.npmjs.com/package/@prerenderer/renderer-jsdom
                                </a>
                                MIT License
                            </div>
                        </div>
                        <div class="column is-5 is-offset-2 no-margin">
                            <img src="../../../public/img/meta/site_content.svg" alt="online test" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="hero is-small">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-5 no-margin">
                            <img src="../../../public/img/meta/images.svg" alt="online test" />
                        </div>
                        <div class="column is-5 is-offset-2 no-margin">
                            <h1 class="title">
                                Icons and licensing
                            </h1>
                            <div class="title-divider"></div>
                            <br />
                            <div class="subtitle">Global usage</div>
                            <div>
                                FA 4.7 Icons from<a href="https://fontawesome.com/v4.7.0/" target="_blank">
                                    https://fontawesome.com/v4.7.0/</a
                                >
                                SIL Open Font License (OFL)
                            </div>
                            <!-- <div>
                                SVG templates from <a href="https://undraw.co/" target="_blank">Undraw</a>,
                                <a href="https://undraw.co/license" target="_blank">License</a>
                            </div> -->
                            <div>
                                SVG Quiz icons from
                                <a href="https://emojitwo.github.io/" target="_blank"> https://emojitwo.github.io/</a>
                                Creative Commons Attribution International 4.0 (CC-BY 4.0)
                            </div>
                            <br />
                            <div class="subtitle">Government Icons</div>
                            <div>
                                Icons made by
                                <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a>
                                from
                                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                            </div>
                            <div>
                                Icons made by
                                <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
                                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                            </div>
                            <div>
                                Icons made by
                                <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
                                from
                                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                            </div>
                            <div>
                                Icons made by
                                <a href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio"
                                    >photo3idea_studio</a
                                >
                                from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                            </div>
                            <div>
                                Icons made by
                                <a href="https://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a>
                                from
                                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter } from 'vuex-class';

@Component({
    name: 'Imprint',
    components: {},
})
export default class Imprint extends Vue {}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
