<template>
    <div class="container">
        <section class="hero is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <div class="section-title-wrapper has-text-centered">
                        <div class="clean-bg-symbol"><i class="fa fa-gg"></i></div>
                        <h2 class="clean-title">Datenschutzbestimmungen</h2>
                        <div class="subtitle">
                            Datenschutzbestimmungen und Urheberrechte
                        </div>
                    </div>

                    <p>
                        Verantwortliche Stelle im Sinne der Datenschutzgesetze, insbesondere der
                        EU-Datenschutzgrundverordnung (DSGVO), ist:
                    </p>
                    <br />
                    <p>
                        Mark Marolf<br />
                        5400 Baden
                    </p>
                    <br />
                    <p class="subtitle">
                        Allgemeiner Hinweis
                    </p>
                    <p>
                        Gestützt auf Artikel 13 der schweizerischen Bundesverfassung und die datenschutzrechtlichen
                        Bestimmungen des Bundes (Datenschutzgesetz, DSG) hat jede Person Anspruch auf Schutz ihrer
                        Privatsphäre sowie auf Schutz vor Missbrauch ihrer persönlichen Daten. Die Betreiber dieser
                        Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre
                        personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften
                        sowie dieser Datenschutzerklärung.
                    </p>
                    <br />
                    <p>
                        In Zusammenarbeit mit unseren Hosting-Providern bemühen wir uns, die Datenbanken so gut wie
                        möglich vor fremden Zugriffen, Verlusten, Missbrauch oder vor Fälschung zu schützen.
                    </p>
                    <br />
                    <p>
                        Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per
                        E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch
                        Dritte ist nicht möglich.
                    </p>
                    <br />
                    <p>
                        Durch die Nutzung dieser WebSite erklären Sie sich mit der Erhebung, Verarbeitung und Nutzung
                        von Daten gemäss der nachfolgenden Beschreibung einverstanden. Diese WebSite kann grundsätzlich
                        ohne Registrierung besucht werden. Dabei werden Daten wie beispielsweise aufgerufene Seiten bzw.
                        Namen der abgerufenen Datei, Datum und Uhrzeit zu statistischen Zwecken auf dem Server
                        gespeichert, ohne dass diese Daten unmittelbar auf Ihre Person bezogen werden. Personenbezogene
                        Daten, insbesondere Name, Adresse oder E-Mail-Adresse werden soweit möglich auf freiwilliger
                        Basis erhoben. Ohne Ihre Einwilligung erfolgt keine Weitergabe der Daten an Dritte.
                    </p>
                    <br />
                    <p class="subtitle">
                        Datenschutzerklärung für SSL-/TLS-Verschlüsselung
                    </p>
                    <p>
                        Diese WebSite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher
                        Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine
                        SSL-/TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die
                        Adresszeile des Browsers von "http://" auf "https://" wechselt und an dem Schloss-Symbol in
                        Ihrer Browserzeile.
                    </p>
                    <p>
                        Wenn die SSL bzw. TLS Verschlüsselung aktiviert ist, können die Daten, die Sie an uns
                        übermitteln, nicht von Dritten mitgelesen werden.
                    </p>
                    <br />
                    <p class="subtitle">
                        Dienste von Dritten
                    </p>
                    <p>
                        Diese WebSite verwenden allenfalls Google Maps für das Einbetten von Karten, Google Invisible
                        reCAPTCHA für den Schutz gegen Bots und Spam sowie YouTube für das Einbetten von Videos.
                    </p>
                    <br />
                    <p>
                        Diese Dienste der amerikanischen Google LLC verwenden unter anderem Cookies und infolgedessen
                        werden Daten an Google in den USA übertragen, wobei wir davon ausgehen, dass in diesem Rahmen
                        kein personenbezogenes Tracking allein durch die Nutzung unserer Website stattfindet.
                    </p>
                    <br />
                    <p>
                        Google hat sich verpflichtet, einen angemessenen Datenschutz gemäss dem
                        amerikanisch-europäischen und dem amerikanisch-schweizerischen Privacy Shield zu gewährleisten.
                    </p>
                    <br />
                    <p>
                        Weitere Informationen finden sich in der
                        <a
                            href="https://policies.google.com/privacy?hl=de"
                            target="_blank"
                            rel="noopener"
                            style="color: inherit;"
                            >Datenschutzerklärung von Google</a
                        >
                    </p>
                    <br />
                    <p class="subtitle">Datenschutzerklärung für Recht auf Auskunft, Löschung, Sperrung</p>
                    <p>
                        Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten
                        personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie
                        ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen
                        zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen
                        Adresse an uns wenden.
                    </p>
                    <br />
                    <p class="subtitle">
                        Datenschutzerklärung für die Nutzung von Google Web Fonts
                    </p>
                    <br />
                    <p>
                        Diese WebSite nutzt zur einheitlichen Darstellung von Schriftarten so genannte Web Fonts, die
                        von Google bereitgestellt werden. Beim Aufruf einer Seite lädt Ihr Browser die benötigten Web
                        Fonts in ihren Browsercache, um Texte und Schriftarten korrekt anzuzeigen. Wenn Ihr Browser Web
                        Fonts nicht unterstützt, wird eine Standardschrift von Ihrem Computer genutzt.
                    </p>
                    <br />
                    <p>
                        Weitere Informationen zu Google Web Fonts finden Sie unter
                        <a href="https://developers.google.com/fonts/faq" target="_blank" style="color: inherit;"
                            >https://developers.google.com/fonts/faq</a
                        >
                        und in der Datenschutzerklärung von Google:
                        <a href="https://www.google.com/policies/privacy/" target="_blank" style="color: inherit;"
                            >https://www.google.com/policies/privacy/</a
                        >
                    </p>
                    <p class="subtitle">
                        Nutzung von Google Analytics
                    </p>
                    <br />
                    <p>
                        Wir verwenden Google Analytics, um die Website-Nutzung zu analysieren. Die daraus gewonnenen
                        Daten werden genutzt, um unsere Website sowie Werbemaßnahmen zu optimieren.
                    </p>
                    <p>
                        Google Analytics ist ein Webanalysedienst, der von Google Inc. (1600 Amphitheatre Parkway,
                        Mountain View, CA 94043, United States) betrieben und bereitgestellt wird. Google verarbeitet
                        die Daten zur Website-Nutzung in unserem Auftrag und verpflichtet sich vertraglich zu Maßnahmen,
                        um die Vertraulichkeit der verarbeiteten Daten zu gewährleisten.
                    </p>
                    <p>
                        Während Ihres Website-Besuchs werden u.a. folgende Daten aufgezeichnet:
                    </p>
                    <ul>
                        <li>
                            Aufgerufene Seiten
                        </li>
                        <li>Bestellungen inkl. des Umsatzes und der bestellten Produkte</li>
                        <li>Ihr Verhalten auf den Seiten (beispielsweise Klicks, Scroll-Verhalten und Verweildauer)</li>
                        <li>Ihr ungefährer Standort (Land und Stadt)</li>
                        <li>Ihre IP-Adresse (in gekürzter Form, sodass keine eindeutige Zuordnung möglich ist)</li>
                        <li>
                            Technische Informationen wie Browser, Internetanbieter, Endgerät und Bildschirmauflösung
                        </li>
                        <li>
                            Herkunftsquelle Ihres Besuchs (d.h. über welche Website bzw. über welches Werbemittel Sie zu
                            uns gekommen sind)
                        </li>
                    </ul>
                    <p>
                        Diese Daten werden an einen Server von Google in den USA übertragen. Google beachtet dabei die
                        Datenschutzbestimmungen des „EU-US Privacy Shield“-Abkommens.
                    </p>
                    <p>
                        Google Analytics speichert Cookies in Ihrem Webbrowser für die Dauer von zwei Jahren seit Ihrem
                        letzten Besuch. Diese Cookies enthaltene eine zufallsgenerierte User-ID, mit der Sie bei
                        zukünftigen Website-Besuchen wiedererkannt werden können.
                    </p>
                    <p>
                        Die aufgezeichneten Daten werden zusammen mit der zufallsgenerierten User-ID gespeichert, was
                        die Auswertung pseudonymer Nutzerprofile ermöglicht. Diese nutzerbezogenen Daten werden
                        automatisch nach 14 Monaten gelöscht. Sonstige Daten bleiben in aggregierter Form unbefristet
                        gespeichert.
                    </p>
                    <p>
                        Sollten Sie mit der Erfassung nicht einverstanden sein, können Sie diese mit der einmaligen
                        Installation des
                        <a href="https://tools.google.com/dlpage/gaoptout?hl=de" target="blank"
                            >Browser-Add-ons zur Deaktivierung von Google Analytics</a
                        >
                        unterbinden.
                    </p>
                    <br />
                    <p class="subtitle">
                        Hinweis betreffend Datenübermittlungen in die USA (Vereinigte Staaten von Amerika)
                    </p>
                    <p>
                        Aus Gründen der Vollständigkeit weisen wir Sie darauf hin, dass für Nutzer mit Sitz in der
                        Schweiz Überwachungsmassnahmen von US-Behörden bestehen, welche generell die Speicherung aller
                        personenbezogenen Daten aus der Schweiz - welche in die USA übermittelt wurden - ermöglicht.
                    </p>
                    <br />
                    <p>
                        Dies geschieht ohne Differenzierung, Einschränkung oder Ausnahme anhand der verfolgten Ziele und
                        ohne ein objektives Kriterium, das es ermöglicht, den Zugang der US-Behörden zu den Daten und
                        deren spätere Nutzung auf ganz bestimmte, strikt begrenzte Zwecke zu beschränken, die mit dem
                        Zugang zu diesen Daten als auch mit deren Nutzung verbundenen Eingriffe zu rechtfertigen
                        vermögen. Ausserdem weisen wir Sie darauf hin, dass in den USA für die betroffenen Personen aus
                        der Schweiz, keine Rechtsbehelfe vorliegen, die es erlauben würden, Zugang zu den Sie
                        betreffenden Daten zu erhalten und deren Berichtigung oder Löschung zu erwirken, resp. kein
                        wirksamer gerichtlicher Rechtsschutz gegen generelle Zugriffsrechte von US-Behörden vorliegt.
                        Wir weisen den Betroffenen explizit auf diese Rechts- und Sachlage hin, um eine entsprechend
                        informierte Entscheidung zur Einwilligung in die Verwendung seiner Daten zu treffen.
                    </p>
                    <br />
                    <p>
                        Nutzer mit Wohnsitz in einem Mitgliedstaat der EU weisen wir darauf hin, dass die USA aus Sicht
                        der Europäischen Union nicht über ein ausreichendes Datenschutzniveau verfügt.
                    </p>
                    <br />
                    <p class="subtitle">
                        Urheberrechte
                    </p>
                    <p>
                        Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf der
                        Website, gehören ausschliesslich dem Betreiber dieser Website oder den speziell genannten
                        Rechteinhabern. Für die Reproduktion von sämtlichen Dateien, ist die schriftliche Zustimmung des
                        Urheberrechtsträgers im Voraus einzuholen.
                    </p>
                    <br />
                    <p>
                        Wer ohne Einwilligung des jeweiligen Rechteinhabers eine Urheberrechtsverletzung begeht, kann
                        sich strafbar und allenfalls schadenersatzpflichtig machen.
                    </p>
                    <br />
                    <p class="subtitle">
                        Allgemeiner Haftungsausschluss
                    </p>
                    <p>
                        Alle Angaben unseres Internetangebotes wurden sorgfältig geprüft. Wir bemühen uns, unser
                        Informationsangebot aktuell, inhaltlich richtig und vollständig anzubieten. Trotzdem kann das
                        Auftreten von Fehlern nicht völlig ausgeschlossen werden, womit wir keine Garantie für
                        Vollständigkeit, Richtigkeit und Aktualität von Informationen auch journalistisch-redaktioneller
                        Art übernehmen können. Haftungsansprüche aus Schäden materieller oder ideeller Art, die durch
                        die Nutzung der angebotenen Informationen verursacht wurden, sind ausgeschlossen, sofern kein
                        nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.
                    </p>
                    <p>
                        Der Herausgeber kann nach eigenem Ermessen und ohne Ankündigung Texte verändern oder löschen und
                        ist nicht verpflichtet, Inhalte dieser Website zu aktualisieren. Die Benutzung bzw. der Zugang
                        zu dieser Website geschieht auf eigene Gefahr des Besuchers. Der Herausgeber, seine Auftraggeber
                        oder Partner sind nicht verantwortlich für Schäden, wie direkte, indirekte, zufällige, vorab
                        konkret zu bestimmende oder Folgeschäden, die angeblich durch den Besuch dieser Website
                        entstanden sind und übernehmen hierfür folglich keine Haftung.
                    </p>
                    <p>
                        Der Herausgeber übernimmt ebenfalls keine Verantwortung und Haftung für die Inhalte und die
                        Verfügbarkeit von Webseiten Dritter, die über externe Links dieser Webseite erreichbar sind. Für
                        den Inhalt der verlinkten Seiten sind ausschliesslich deren Betreiber verantwortlich. Der
                        Herausgeber distanziert sich damit ausdrücklich von allen Inhalten Dritter, die möglicherweise
                        straf- oder haftungsrechtlich relevant sind oder gegen die guten Sitten verstossen.
                    </p>
                    <br />
                    <p class="subtitle">
                        Änderungen
                    </p>
                    <p>
                        Wir können diese Datenschutzerklärung jederzeit ohne Vorankündigung anpassen. Es gilt die
                        jeweils aktuelle, auf unserer Website publizierte Fassung. Soweit die Datenschutzerklärung Teil
                        einer Vereinbarung mit Ihnen ist, werden wir Sie im Falle einer Aktualisierung über die Änderung
                        per E-Mail oder auf andere geeignete Weise informieren.
                    </p>
                    <br />
                    <p class="subtitle">
                        Fragen an den Datenschutzbeauftragten
                    </p>
                    <p>
                        Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden Sie sich
                        direkt an die für den Datenschutz zu Beginn der Datenschutzerklärung aufgeführten,
                        verantwortlichen Person in unserer Organisation.
                    </p>
                    <br />
                    <p>
                        Baden, 04.12.2019<br />
                        Quelle: SwissAnwalt
                    </p>
                </div>
            </div>
        </section>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter } from 'vuex-class';

@Component({
    name: 'PrivacyPolicy',
    components: {},
})
export default class PrivacyPolicy extends Vue {}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
