<template>
    <section class="hero is-fullheight-with-navbar" id="app">
        <div class="hero-head">
            <navbar />
        </div>
        <!-- <div class="hero-body"> -->
        <router-view />
        <!-- </div> -->
        <div class="hero-footer">
            <Footer />
        </div>
    </section>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter, Action } from 'vuex-class';
import Navbar from '@/components/layout/Navbar.vue';
import Footer from '@/components/layout/Footer.vue';

@Component({
    name: 'App',
    components: {
        Navbar,
        Footer,
    },
})
export default class App extends Vue {}
</script>

<style lang="scss">
#app {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 !important;
}
</style>
