<template>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container quiz-wrapper">
                <b-progress :value="getProgress()" show-value format="percent" type="is-navy"></b-progress>
                <div class="columns is-centered">
                    <div
                        class=" column is-three-fourths-mobile is-three-fifths-tablet is-half-desktop is-two-fifths-widescreen is-one-third-fullhd"
                    >
                        <stack-item
                            v-bind:key="currentQuestion.id"
                            v-if="isQuestionSet"
                            :question="currentQuestion"
                            @agree="agree"
                            @disagree="disagree"
                            @superLike="superLike"
                            title="Links, rechts oder nach unten wischen"
                        />
                        <div class="quiz-footer">
                            <b-button
                                icon-left="undo"
                                type="is-warning"
                                class="quiz-action"
                                title="Zurücksetzen"
                                @click="$router.go()"
                            ></b-button>
                            <b-button
                                icon-left="times"
                                type="is-danger"
                                class="quiz-action large"
                                title="Ignorieren"
                                @click="ignore"
                            ></b-button>
                            <b-button
                                icon-left="heart-o"
                                type="is-like"
                                class="quiz-action large"
                                title="Fest zustimmen"
                                @click="superLike"
                            ></b-button>
                            <b-button
                                icon-left="question"
                                class="quiz-action"
                                title="Anleitung"
                                @click="isInformationModalActive = true"
                            ></b-button>
                        </div>
                    </div>
                </div>
                <b-modal :active.sync="isInformationModalActive" has-modal-card trap-focus>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title"><i class="fa fa-question" aria-hidden="true"></i> Anleitung</p>
                        </header>
                        <section class="modal-card-body">
                            <p>Wische nach rechts wenn du <em>zustimmst</em>.</p>
                            <p>Wische nach links wenn du <em>nicht zustimmst</em>.</p>
                            <br />
                            <p>Setze deine Auswahl mit dem gelben Knopf zurück.</p>
                            <p>Wähle den roten Knopf an um eine Aussage zu ignorieren.</p>
                            <p>Stimme mit dem pinken Knopf einer Aussage fest zu.</p>

                            <div class="quiz-footer">
                                <b-button
                                    tag="p"
                                    icon-left="undo"
                                    type="is-warning"
                                    class="quiz-action"
                                    title="Zurücksetzen"
                                ></b-button>
                                <b-button
                                    tag="p"
                                    icon-left="times"
                                    type="is-danger"
                                    class="quiz-action large"
                                    title="Ignorieren"
                                ></b-button>
                                <b-button
                                    tag="p"
                                    icon-left="heart-o"
                                    type="is-like"
                                    class="quiz-action large"
                                    title="Fest zustimmen"
                                ></b-button>
                                <b-button tag="p" icon-left="question" class="quiz-action" title="Anleitung"></b-button>
                            </div>
                        </section>
                        <footer class="modal-card-foot">
                            <b-button
                                type="is-dark"
                                outlined
                                icon-pack="fa"
                                icon-left="check"
                                @click="isInformationModalActive = false"
                                >Alles klar</b-button
                            >
                        </footer>
                    </div>
                </b-modal>
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter, Action } from 'vuex-class';
import { Question } from '@/models/question';
import { System } from '@/models/system';
import { Government } from '@/models/government';
import StackItem from '@/components/stack/StackItem.vue';
import { Result } from '@/models/result';

@Component({
    name: 'StackList',
    components: {
        StackItem,
    },
})
export default class StackList extends Vue {
    @Getter('question/questions') private originalQuestions!: Question[];
    @Getter('system/systems') private systems!: System[];
    @Action('results/setResults') private setResults;

    private governments: Government[] = [];
    private questions: Question[] = [];
    private results: Result[] = [];
    private currentQuestion: Question = {} as Question;
    private isQuestionSet: boolean = false;
    private isInformationModalActive: boolean = false;

    // options
    private interactMaxRotation: number = 15;
    private interactOutOfSightXCoordinate: number = 500;
    private interactOutOfSightYCoordinate: number = 600;
    private interactYThreshold: number = 100;
    private interactXThreshold: number = 100;

    private isInteractAnimating: boolean = true;
    private isInteractDragged: boolean = false;

    private exceedsLeft: boolean = false;
    private exceedsRight: boolean = false;

    // specify the base position of card
    private interactPosition = {
        x: 0,
        y: 0,
        rotation: 0,
    };

    private mounted() {
        this.systems.forEach((system) => {
            system.governments.forEach((government) => {
                this.governments.push(government);
            });
        });

        // deep copy the questions for local use
        this.questions = JSON.parse(JSON.stringify(this.originalQuestions));
        this.currentQuestion = this.questions[0];
        this.isQuestionSet = true;

        // initialize the results
        this.governments.forEach((government) => {
            let result = {} as Result;

            result.id = government.id;
            result.government = government;
            result.value = 0;

            this.results.push(result);
        });

        // clear results in vuex
        this.$store.commit('results/setResults', this.results);
    }

    private agree() {
        this.processAnswer(this.currentQuestion.agree);
        this.showNextQuestion();
    }

    private disagree() {
        this.processAnswer(this.currentQuestion.disagree);
        this.showNextQuestion();
    }

    private ignore() {
        this.currentQuestion.answered = true;
        this.showNextQuestion();
    }

    private superLike() {
        this.processAnswer(this.currentQuestion.agree);
        this.processAnswer(this.currentQuestion.agree);
        this.showNextQuestion();
    }

    private showNextQuestion() {
        const index = this.questions.indexOf(this.currentQuestion);

        // once the last question is reached, go to the results
        if (index !== this.questions.length - 1) {
            this.currentQuestion = this.questions[index + 1];
        } else {
            this.$router.push('/results');
        }
    }

    private processAnswer(governmentValues: number[]) {
        this.currentQuestion.answered = true;
        governmentValues.forEach((governmentValue, index) => {
            this.results.forEach((result) => {
                // get the corresponding result element
                if (result.government.id === index + 1) {
                    result.value += governmentValue;
                }
            });
        });
        // store the results in vuex
        this.$store.commit('results/setResults', this.results);
    }

    private getProgress(): number {
        let counter = 0;
        this.questions.forEach((question) => {
            if (question.answered === true) {
                counter += 1;
            }
        });
        return Math.floor((counter / this.questions.length) * 100);
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.quiz-wrapper {
    padding-top: 10px;
}
.cards {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.question-container {
    background-repeat: no-repeat;
    background-size: cover;
}
.agree-disagree-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 20px;
}
.quiz-footer {
    padding-top: 5vh;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.quiz-action {
    border-radius: 50%;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}
.large {
    font-size: 22px;
}
</style>
