<template>
    <div
        :id="'swipe_container_' + this.question.id"
        class="question-container"
        :class="{
            isAnimating: isInteractAnimating,
        }"
        v-show="!question.answered"
        style="touch-action: none;"
        :style="{ transform: transformString() }"
    >
        <div class="question-header">Aussage {{ question.id }}</div>
        <img
            class="question-image"
            :src="require('../../../public/img/questions/' + question.img)"
            :alt="question.id"
        />
        <div class="question-text">{{ question.text }}</div>

        <transition name="fade">
            <img src="../../assets/img/agree.svg" v-show="!isInteractAnimating && exceedsRight" class="agree-icon" />
        </transition>

        <transition name="fade">
            <img
                src="../../assets/img/disagree.svg"
                v-show="!isInteractAnimating && exceedsLeft"
                class="disagree-icon"
            />
        </transition>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter, Action } from 'vuex-class';
import interact from 'interactjs';
import { Question } from '@/models/question';

@Component({
    name: 'StackItem',
    components: {},
})
export default class StackItem extends Vue {
    @Prop() private question!: Question;

    private acceptCard: string = 'cardAccepted';
    private rejectCard: string = 'cardRejected';
    private superLikeCard: string = 'cardSuperLiked';

    // options
    private interactMaxRotation: number = 15;
    private interactOutOfSightXCoordinate: number = 500;
    private interactOutOfSightYCoordinate: number = 600;
    private interactYThreshold: number = 100;
    private interactXThreshold: number = 100;

    private isInteractAnimating: boolean = true;
    private isInteractDragged: boolean = false;

    private exceedsLeft: boolean = false;
    private exceedsRight: boolean = false;

    // specify the base position of card
    private interactPosition = {
        x: 0,
        y: 0,
        rotation: 0,
    };

    private mounted() {
        const swipeQuestion = interact('#swipe_container_' + this.question.id);
        if (swipeQuestion) {
            swipeQuestion.draggable({
                onstart: this.dragOnStart,
                onmove: this.draggableOnMove,
                onend: this.draggableOnEnd,
            });
        }
    }

    private dragOnStart() {
        this.isInteractAnimating = false;
    }

    private transformString() {
        if (!this.isInteractAnimating || this.isInteractDragged) {
            const { x, y, rotation } = this.interactPosition;
            return `translate3D(${x}px, ${y}px, 0) rotate(${rotation}deg)`;
        }
        return null;
    }

    private draggableOnMove(event: any) {
        const target = event.target;
        const x = this.interactPosition.x + event.dx;
        // const y = this.interactPosition.y + event.dy;
        const y = this.interactPosition.y;

        if (x > this.interactXThreshold) {
            this.exceedsRight = true;
        } else if (x < -this.interactXThreshold) {
            this.exceedsLeft = true;
        } else {
            this.exceedsLeft = false;
            this.exceedsRight = false;
        }

        let rotation = this.interactMaxRotation * (x / this.interactXThreshold);

        if (rotation > this.interactMaxRotation) {
            rotation = this.interactMaxRotation;
        } else if (rotation < -this.interactMaxRotation) {
            rotation = -this.interactMaxRotation;
        }

        this.interactSetPosition({ x, y, rotation });
    }

    private draggableOnEnd(event: any) {
        const { x, y, rotation } = this.interactPosition;
        this.isInteractAnimating = true;

        if (x > this.interactXThreshold) {
            this.playCard(this.acceptCard);
        } else if (x < -this.interactXThreshold) {
            this.playCard(this.rejectCard);
        } else {
            this.resetCardPosition();
        }
    }

    // remove all listeners on destroy
    private beforeDestroy() {
        interact('#swipe_container_' + this.question.id).unset();
    }

    private interactSetPosition(coordinates: { x: number; y: number; rotation: number }) {
        const { x = 0, y = 0, rotation = 0 } = coordinates;
        this.interactPosition = { x, y, rotation };
    }

    private resetCardPosition() {
        this.interactSetPosition({ x: 0, y: 0, rotation: 0 });
    }

    private playCard(interaction: string) {
        this.interactUnsetElement();

        switch (interaction) {
            case this.acceptCard:
                this.interactSetPosition({
                    x: this.interactOutOfSightXCoordinate,
                    y: this.interactPosition.y,
                    rotation: this.interactMaxRotation,
                });
                this.$emit('agree', this.question);
                break;
            case this.rejectCard:
                this.interactSetPosition({
                    x: -this.interactOutOfSightXCoordinate,
                    y: this.interactPosition.y,
                    rotation: -this.interactMaxRotation,
                });
                this.$emit('disagree', this.question);
                break;
            case this.superLikeCard:
                this.interactSetPosition({
                    x: this.interactPosition.x,
                    y: this.interactOutOfSightYCoordinate,
                    rotation: -this.interactMaxRotation,
                });
                this.$emit('superLike', this.question);
                break;
        }
    }

    private interactUnsetElement() {
        interact('#swipe_container_' + this.question.id).unset();
        this.isInteractDragged = true;
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.question-container {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 15px;
    min-height: 60vh;

    $fadeInTime: 1s;

    -webkit-animation: fadein $fadeInTime;
    -moz-animation: fadein $fadeInTime;
    -ms-animation: fadein $fadeInTime;
    -o-animation: fadein $fadeInTime;
    animation: fadein $fadeInTime;

    &.isAnimating {
        transition: transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}

.question-container:hover {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.75);
}

.question-header {
    color: rgb(100, 100, 100);
    font-weight: 600;
}

.question-image {
    max-height: 35vh;
}

.question-text {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 18px;
}

.question-buttons {
    padding-top: 10px;
}

.button {
    margin-right: 10px;
}

.agree-icon {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 50px;
}

.disagree-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 50px;
}

.super-like-icon {
    position: absolute;
    top: 30px;
    height: 50px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in <2.1.8 */

 {
    opacity: 0;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
</style>
