<template>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="action-bar" style="margin-top: 15px;">
                    <router-link to="/stack" tag="div">
                        <b-button rounded type="is-royal" icon-left="undo" size="is-small" outlined
                            >Erneut spielen</b-button
                        ></router-link
                    >
                </div>
                <div class="result-wrapper">
                    <div class="result-container is-hidden-touch" style="overflow: visible;">
                        <div class="columns">
                            <div class="column is-5 ">
                                <img
                                    class="most-frequent-image"
                                    :alt="match.government.title"
                                    :title="match.government.title"
                                    :src="require('../../../public/img/governments/' + match.government.img)"
                                />
                            </div>
                            <div class="column">
                                <b-tag class="match" type="is-success">Deine Staatsform ✓</b-tag>
                                <b-tag class="match">{{ getPercent(match) }}% Treffer</b-tag>
                                <div class="government-box">
                                    <router-link tag="div" :to="'/government/' + match.government.id"
                                        ><div class="government-title">{{ match.government.title }}</div></router-link
                                    >
                                    <div class="government-description">{{ match.government.subtitle }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="result-container is-hidden-desktop">
                        <div class="columns">
                            <div class="column">
                                <img
                                    :alt="match.government.title"
                                    :title="match.government.title"
                                    :src="require('../../../public/img/governments/' + match.government.img)"
                                />
                            </div>
                            <div class="column">
                                <b-tag class="match">{{ getPercent(match) }}% Treffer</b-tag>
                                <b-tag class="match" type="is-success">Deine Staatsform ✓</b-tag>
                                <div class="government-box">
                                    <router-link tag="div" :to="'/government/' + match.government.id"
                                        ><div class="government-title">{{ match.government.title }}</div></router-link
                                    >
                                    <div class="government-description">{{ match.government.subtitle }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns is-multiline is-8 is-vcentered">
                    <div
                        v-for="(result, index) in results"
                        v-bind:key="result.id"
                        class="column is-3"
                        style="height: 100%;"
                        :title="result.government.title + ' ansehen'"
                    >
                        <b-tag style="margin-bottom: 6px;margin-top: 6px;">{{ getPercent(result) }}% Treffer</b-tag>
                        <router-link tag="div" :to="'/government/' + result.government.id" class="result-title"
                            >{{ index + 2 }}. {{ result.government.title }}</router-link
                        >
                        <div style="font-size: 14px;">{{ result.government.subtitle }}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter } from 'vuex-class';
import { Question } from '@/models/question';
import { System } from '@/models/system';
import { Government } from '@/models/government';
import { Result } from '@/models/result';

@Component({
    name: 'StackResults',
    components: {},
})
export default class StackResults extends Vue {
    @Getter('results/results') private results!: Result[];
    @Getter('system/systems') private systems!: System[];

    private governments: Government[] = [];
    private match: Result = {} as Result;

    private mounted() {
        if (this.results.length !== 10) {
            this.$router.push('/stack');
        }

        this.setGovernments();
        this.sortResults();
    }

    private setGovernments() {
        this.systems.forEach((system) => {
            system.governments.forEach((government) => {
                this.governments.push(government);
            });
        });
    }

    private sortResults() {
        // sort results by value
        this.results.sort(function(a, b) {
            return b.value - a.value;
        });

        this.match = this.results[0];
        this.results.shift();
    }

    private getPercent(result: Result): number {
        return Math.round((result.value / this.match.value) * 100);
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.result-wrapper {
    background-color: rgb(255, 255, 255);
    margin-bottom: 40px;
    margin-top: 20px;
}
.result-header {
    font-size: 15px;
    font-weight: 600;
    margin-left: 25px;
    margin-bottom: 5px;
    color: rgb(92, 92, 92);
}
.match {
    margin-bottom: 10px;
    margin-left: 10px;
}
.government-title {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
    text-decoration: underline;
    cursor: pointer;
}
.result-title {
    font-size: 16px;
}
.result-title:hover {
    text-decoration: underline;
    cursor: pointer;
}
.government-description {
    font-size: 18px;
    font-weight: 300;
}
.result-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    border-radius: 25px;
}
.most-frequent-image {
    float: right;
    height: 250px;
    position: absolute;
    bottom: 20px;
    left: 30px;
}
.government-box {
    background-color: rgb(241, 241, 241);
    padding: 30px;
    border-radius: 20px;
}
.match-image {
    height: 30px;
}
.action-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
</style>
