#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', sans-serif;
}

// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import "quiz.scss";

// Set your colors
$primary: #3273dc;
$primary-invert: findColorInvert($primary);

$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

$gunmetal: #2D3142;
$gunmetal-invert: findColorInvert($gunmetal);

$navy: #4C6082;
$navy-invert: findColorInvert($navy);

$blue: #758cbe;
$blue-invert: findColorInvert($blue);

$pastel: #C9C9C9;
$pastel-invert: findColorInvert($pastel);

$mandarin: #EF794A;
$mandarin-invert: findColorInvert($mandarin);

$slate: #344C5C;
$slate-invert: findColorInvert($slate);

$royal: #2A326D;
$royal-invert: findColorInvert($royal);

$stack: #4580E1;
$stack-invert: findColorInvert($stack);

$yellow: #ffc40d;
$yellow-invert: findColorInvert($yellow);

$light-gray: #36393f;
$light-gray-invert: findColorInvert($light-gray);

$dark-gray: #2b2d31;
$dark-gray-invert: findColorInvert($dark-gray);

$blue-grey: #444F60;
$blue-grey-invert: findColorInvert($blue-grey);

$like: rgb(255, 87, 171);
$like-invert: findColorInvert($like);

// $warning: $primary;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
            "white": ($white, $black),
            "black": ($black, $white),
            "light": ($light, $light-invert),
            "dark": ($dark, $dark-invert),
            "primary": ($primary, $primary-invert),
            "navy": ($navy, $navy-invert),
            "pastel": ($pastel, $pastel-invert),
            "mandarin": ($mandarin, $mandarin-invert),
            "blue": ($blue, $blue-invert),
            "slate": ($slate, $slate-invert),
            "stack": ($stack, $stack-invert),
            "royal": ($royal, $royal-invert),
            "gunmetal": ($red, $gunmetal-invert),
            "yellow": ($yellow, $yellow-invert),
            "info": ($info, $info-invert),
            "success": ($success, $success-invert),
            "warning": ($warning, $warning-invert),
            "danger": ($danger, $danger-invert),
            "twitter": ($twitter, $twitter-invert),
            "light-gray": ($light-gray, $light-gray-invert),
            "dark-gray": ($dark-gray, $dark-gray-invert),
            "blue-grey": ($blue-grey, $blue-grey-invert),
            "like": ($like, $like-invert),
         );
// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// $navbar-height: 5rem;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";


//Section title wrapper
.section-title-wrapper {
    position: relative;
    padding: 40px 20px;
    //Background numbers and symbols
    .bg-number, .bg-symbol {
        position: absolute;
        text-align: center;
        font-weight: bolder;
        top: -18px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        font-size: 160px;
        z-index: 0;
        opacity: 0.1;
        color: #999;
        width: 160px;
        height: 160px;
        line-height: 160px;
        .material-icons {
            font-size: 12rem;
        }
    }
    //Small above subtitle
    .top-subtitle {
        text-transform: uppercase;
        color: $primary;
        font-weight: 600;
        font-size: 1.05rem;
    }
    //Icon subtitle
    .icon-subtitle {
        display:flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        &.is-one i {
            margin: 10px 5px 0 5px;
            font-size: 2.2rem;
            color: $secondary;
        }
        &.is-many i {
            margin: 10px 5px 0 5px;
            font-size: 1.4rem;
            color: $secondary;
        }
    }
}