// @import '_layout-sections';
@import 'colors';
$base-shadow: rgba(0, 0, 0, 0.12);

$primary-shadow-from: rgba(0, 178, 137, 0.42);
$primary-shadow-to: rgba(0, 178, 137, 0.2);
$primary-box-shadow:  0 14px 26px -12px $primary-shadow-from, 0 4px 23px 0px $base-shadow, 0 8px 10px -5px $primary-shadow-to !important;

//Secondary box shadow
$secondary-shadow-from: rgba(0, 178, 137, 0.42);
$secondary-shadow-to: rgba(0, 178, 137, 0.2);
$secondary-box-shadow:  0 14px 26px -12px $secondary-shadow-from, 0 4px 23px 0px $base-shadow, 0 8px 10px -5px $secondary-shadow-to !important;

//Accent box shadow
$accent-shadow-from: rgba(0, 178, 137, 0.42);
$accent-shadow-to: rgba(0, 178, 137, 0.2);
$accent-box-shadow:  0 14px 26px -12px $accent-shadow-from, 0 4px 23px 0px $base-shadow, 0 8px 10px -5px $accent-shadow-to !important;

.title-divider {
    margin: 10px 0;
    width: 80px;
    height: 5px;
    background:  #2A326D;
    &.is-right {
        margin-left: auto;
    }
    &.is-centered {
        margin: 0 auto;
    }
}

.menu-list-header {
    padding-bottom: 10px;
    color: #888;
    font-size: 16px;
}

#main-hero {
    max-height: 100vh;
    background-position-x: 55% !important;
}

/* ==========================================================================
0. max-width 767px
========================================================================== */

@media (max-width: 767px) {
    //section title
    .section-title-wrapper {
        padding: 40px 0 !important;
    }
    .content-wrapper {
        padding-top: 140px !important;
    }
}

/* ==========================================================================
1. Between 768px and 1024px portrait orientation
========================================================================== */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    //tablet portrait orientation adjustments
    .columns {
        padding: 0 10%;
        &.is-tablet-portrait {
            padding: 10%;
        }
        &.is-not-tablet-portrait {
            padding: 0 !important;
        }
    }

    .content-wrapper {
        padding-top: 0px !important;
    }
}


//Background glyph on section titles
.section-title-wrapper {
    .clean-bg-symbol {
        position: absolute;
        font-weight: bolder;
        top: -25px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        font-size: 10rem;
        z-index: 0;
        opacity: 0.1;
        color: #999;
        width: 150px;
        i {
            font-weight: 900;
        }
    }
    .subtitle {
        color: $title-grey;
    }
}

//clean style title
.clean-title {
    font-weight: 600;
    font-size: 2.8rem;
    color: #444F60;
    padding: 0;
}

//Background glyph on section titles
.section-title-wrapper {
    .clean-bg-symbol {
        position: absolute;
        font-weight: bolder;
        top: -25px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        font-size: 10rem;
        z-index: 0;
        opacity: 0.1;
        color: #999;
        width: 150px;
        i {
            font-weight: 900;
        }
    }
    .subtitle {
        font-family: 'Nexa Light', sans-serif;
        color: $title-grey;
    }
}

/* ==========================================================================
0. Layout colors
========================================================================== */

$white: #fff;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;
$grey-white-accent: #e2e2e2;
$command-grey: #fafbfc;
$light-grey: #EFF4F7;
$ultra-light-grey: #f7fcff;
$title-grey: #A9ABAC;
$blue-grey: #444F60;
$light-blue-grey: #98a9c3;
$medium-grey: #66676b;
$basaltic-grey: #878787;
$muted-grey: #999;
$section-grey: #fbfbfb;
$section-grey-accent: #efefef;
$background-grey: #f3f5f7;
$header-grey: #F5F9FC;
$default-input: #ccc;
$placeholder: #cecece;
$fade-grey: #ededed;
$sidebar: #344258;
$coal: #444444;
$grey-6: #666;
$grey-5: #555;
$grey-3: #333;
$cream-grey: #f6f4ff;
$icon-grey: #818a97;
$border-grey: #d4dadf;
$dashboard-grey: #f4f6fb;
$link-grey: #f5f5f5;


/* ==========================================================================
1. State colors
========================================================================== */

$red: #FF7273;
$blue: #039BE5;
$green: #00b289;
$orange: #eda514;

/* ==========================================================================
2. Social colors
========================================================================== */

$facebook: #3B5998;
$twitter: #1dcaff;
$linkedin: #007bb6;
$tumblr: #35465c;
$github: #444;
$dribbble: #ea4c89;
$google-plus: #d34836;
$youtube: #cc181e;
$reddit: #ff4500;


/* ==========================================================================
1. Flex card
========================================================================== */
.flex-card {
    position: relative;
    background-color: #fff;
    border: 1px solid $smoke-white;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    transition: all 0.5s;
    //header
    .flex-card-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        border-bottom: 1px solid $fade-grey;
        padding: 10px 15px;
        //header elements
        .header-avatar {
            max-height: 45px;
            img {
                height: 45px;
                border-radius: 100px;
            }
        }
        .header-info {
            margin: 0 10px;
            .header-title {
                font-size: 1.2rem;
            }
            .header-subtitle {
                font-size: 0.9rem;
                color: $title-grey;
            }
        }
        .header-control {
            margin-right: 10px;
            i {
                font-size: 0.8rem;
                color: $title-grey;
            }
            &:hover i {
                color: $primary;
            }
        }//header colors
        &.primary {
            background: $primary;
            .header-info div, .header-control i {
                color: $white !important;
            }
        }
        &.secondary {
            background: $secondary;
            .header-info div, .header-control i {
                color: $white !important;
            }
        }
        &.accent {
            background: $accent;
            .header-info div, .header-control i {
                color: $white !important;
            }
        }
    }
    //card body
    .card-body {
        padding: 30px 30px;
        &.is-small {
            padding: 20px 20px;
        }
        &.is-large {
            padding: 40px 40px;
        }
    }
    //card title h3
    h3.card-title {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 22px;
        line-height: 30px;
        text-decoration: none;
    }
    //card-description
    .card-description {
        line-height: 24px;
        cursor: default;
        color: #777;
        font-size: 16px;
    }
    //card backgound colors
    &.primary-card {
        background: $primary;
        .content, .content h2 {
            color: $white !important;
        }
    }
    &.secondary-card {
        background: $secondary;
        .content, .content h2 {
            color: $white !important;
        }
    }
    &.accent-card {
        background: $accent;
        .content, .content h2 {
            color: $white !important;
        }
    }
    //card overflow
    &.card-overflow {
        overflow: visible !important;
    }
    //light border
    &.light-bordered {
        border: 1px solid #e5e5e5 !important;
    }
    //box shadow options
    &.simple-shadow {
        box-shadow: -1px 3px 10px 0 rgba(0,0,0,.06);
    }
    &.light-raised {
        box-shadow: 0 3px 10px 4px rgba(0,0,0,.04);
    }
    &.raised {
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    }
    &.hover-raised:hover {
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
    &.hover-inset:hover {
        box-shadow: inset rgba(143,160,241,0.2) 0 0 0 1px, rgba(213,220,247,0.59) 0 10px 20px;
        cursor: pointer;
    }
    //tabs inside cards
    .tabs {
        padding: 15px 0.7rem;
    }
    .navtab-content {
        min-height: 190px;
        p {
            padding: 0 0.8rem 20px;
        }
    }
    //Icon card variation
    &.icon-card {
        box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
        transition: inherit;
        margin-bottom: 0;
        padding: 15px;
        img {
            // padding-top: 20px;
            height: 200px;
            width: 200px;
            object-fit: cover;
        }
        .icon-card-text {
            font-size: 1.1rem;
            color: $title-grey;
        }
    }
    //Icon card hover
    &.icon-card-hover {
        height: 170px;
        padding: 20px 20px 10px 130px;
        border-radius: 8px;
        box-shadow: -1px 3px 10px 0 rgba(0,0,0,.04);
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
        text-align: left;
        background-color: #fff;
        &:hover {
            box-shadow: -1px 3px 10px 0 rgba(0,0,0,.1);
            -webkit-transform: translate(0,-10px);
            -ms-transform: translate(0,-10px);
            transform: translate(0,-10px);
        }
        &.first-card {
            background-position: 0 0,-80px 20px;
            background-size: auto,200px;
            background-repeat: repeat,no-repeat;
            -webkit-transition: all 350ms ease;
            transition: all 350ms ease;
            &:hover {
                background-position: 0 0,-80px -25px;
                background-size: auto,200px;
                background-repeat: repeat,no-repeat;
            }
        }
        &.second-card {
            background-position: 0 0,-80px 20px;
            background-size: auto,200px;
            background-repeat: repeat,no-repeat;
            -webkit-transition: all 350ms ease;
            transition: all 350ms ease;
            &:hover {
                background-position: 0 0,-80px -25px;
                background-size: auto,200px;
                background-repeat: repeat,no-repeat;
            }
        }
        &.third-card {
            background-position: 0 0,-80px 20px;
            background-size: auto,200px;
            background-repeat: repeat,no-repeat;
            -webkit-transition: all 350ms ease;
            transition: all 350ms ease;
            &:hover {
                background-position: 0 0,-80px -25px;
                background-size: auto,200px;
                background-repeat: repeat,no-repeat;
            }
        }
        &.fourth-card {
            background-position: 0 0,-80px 20px;
            background-size: auto,200px;
            background-repeat: repeat,no-repeat;
            -webkit-transition: all 350ms ease;
            transition: all 350ms ease;
            &:hover {
                background-position: 0 0,-80px -25px;
                background-size: auto,200px;
                background-repeat: repeat,no-repeat;
            }
        }
    }
    //Testimonial card variation
    &.testimonial-card {
        //title
        .testimonial-title {
            color: $primary;
            font-weight: 500;
            padding: 5px 0;
        }
        //text
        .testimonial-text {
            color: $muted-grey;
            font-size: 0.9rem;
            font-style: italic;
            padding: 5px 0;
        }
        //user meta
        .user-id {
            display: flex;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            padding: 5px 0;
            img {
                height: 50px;
                border-radius: 100px;
            }
            .info {
                padding: 0 10px;
                .name{
                    font-size: 1.1rem;
                    font-weight: 600;
                    color: $blue-grey;
                }
                .position {
                    font-size: 0.9rem;
                    color: $placeholder;
                }
            }
        }
    }
    //Card wirh navigation pills
    .navigation-tabs {
        &.outlined-pills .tabs.tabs-header {
            &.primary {
                background-color: $primary;
            }
            &.secondary {
                background-color: $secondary;
            }
            &.accent {
                background-color: $accent;
            }
            ul li a {
                color: $grey-white;
            }
            ul li.is-active a {
                color: $white;
                border: 1px solid $white;
                border-bottom-color: $white !important;
            }
        }
    }
    //Icon group
    .icon-group {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        img {
            height: 60px;
        }
        span {
            font-size: 20px;
            margin-left: 20px;
            color: $muted-grey;
            transition: all 0.5s;
            &:hover {
                transform: translate(10px,0);
            }
        }
    }
    //Login and registration cards
    &.auth-card {
        padding: 0px 40px 20px 40px;
        .auth-card-header {
            height: 5rem;
            width: 100%;
            position: relative;
            top: -2.5rem;
            left: auto !important;
            right: auto !important;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;

            img {
                max-height: 30px;
            }
            &.header-primary {
                background-color: $primary;
                color: $white;
                box-shadow: $primary-box-shadow;
            }
            &.header-secondary {
                background-color: $secondary;
                color: $white;
                box-shadow: $secondary-box-shadow;
            }
            &.header-accent {
                background-color: $accent;
                color: $white;
                box-shadow: $accent-box-shadow;
            }
        }
    }
    //card content container
    .card-content {
        position: relative;
        padding: 1rem !important;
        .bottom-avatar {
            img {
                height: 50px;
                border-radius: 100px;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }



}